.about {
  padding: 0 25px;
  min-height: 390px;
  background-color: #192144;
  background-image: url("../img/about-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: 9px 50px;
}
