.companion {
  padding: 0 25px;
  margin: 0 auto;
  width: 270px;
  display: flex;
  flex-direction: column;
  background-color: #edeff6;
}

@media (min-width: $tablet-width) {
  .header {
    width: 688px;
    padding: 0 40px;
  }
}


@media (min-width: $desktop-width) {
  .header {
    width: 1320px;
    padding: 0 60px;
  }
}
