.contacts {
  position: relative;
  background-color: #ffd74b;
  border-radius: 0 0 30px 30px;
  z-index: 1;
  &__wrapper{
    position: relative;
    padding: 0 25px;
    margin: 0 auto;
    margin-top: -74px;
    width: 320px;
    height: 280px;
    display: flex;
    flex-direction: column;
  }
}

.contacts__address {
  position: relative;
  margin-top: 108px;
  margin-left: 61px;
  width: 200px;
  color: #192144;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  text-transform: uppercase;
}

.contacts__address::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -61px;
  width: 45px;
  height: 45px;
  background-color: #121936;
  border-radius: 50%;
  background-image: url("../img/contacts-location.svg");
  background-repeat: no-repeat;
  background-position: 14px 15px;
  background-size: 18px;
}


.button__contact {
  margin-top: 17px;
  margin-left: 0;
  margin-bottom: 57px;
  padding-left: 21px;
  padding-top: 21px;
  padding-bottom: 17px;
  background-image: url(../img/triangle-arrow-right.svg);
  background-repeat: no-repeat;
  background-position: 233px 20px;
  background-size: 11px;
  color: #1d2e5b;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  border-radius: 10px;
  border: 3px solid #192144;
}

@media (min-width: $tablet-width) {
  .contacts {
    border-radius: 0 0 60px 60px;
    &__wrapper{
      width: 688px;
      padding: 0 40px;
      padding-bottom: 119px;
    }
  }

  .contacts__address {
    margin-top: 143px;
    margin-left: 128px;
    width: 500px;
    font-size: 28px;
    font-weight: 700;
    line-height: 28px;
  }

  .button__contact {
    margin-top: 39px;
    margin-left: 35px;
    padding-top: 28px;
    padding-left: 33px;
    padding-bottom: 23px;
    margin-bottom: 58px;
    width: 579px;
    color: #1d2e5b;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    border-radius: 20px;
  }
}

@media (min-width: $desktop-width) {
 .contacts {
  border-radius: 0 0 60px 60px;
  &__wrapper{
    position: relative;
    width: 1320px;
    margin-top: -80px;
    padding: 0 60px;
  }
}
.contacts__address {
  margin-top: 165px;
  margin-left: 345px;
  width: 500px;
  font-size: 28px;
  font-weight: 700;
  line-height: 28px;
}

.button__contact {
  position: absolute;
  right: 134px;
  top: 100px;
  font-size: 24px;
  width: 285px;
}
}
