.countries {
  position: relative;
  background-color: #edeff6;
  border-radius: 0 0 30px 30px;
  z-index: 5;
  &__wrapper{
    position: relative;
    padding: 0 25px;
    margin: 0 auto;
    margin-top: -25px;
    width: 320px;
    display: flex;
    flex-direction: column;
  }
}

.countries__title {
  padding-top: 77px;
  padding-left: 26px;
  color: #ff8d30;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
}

.countries__text {
  margin-top: -1px;
  padding-left: 25px;
  width: 223px;
  color: #444444;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
}

.countries__item {
  position: relative;
  margin-bottom: -36px;
}

.countries__background {
  position: relative;
  margin-top: 44px;
  width: 270px;
  height: 110px;
  border-radius: 10px 10px 0 0;
}

.countries__description {
  position: relative;
  margin-top: -17px;
  padding-left: 1px;
  width: 270px;
  height: 90px;
  border-radius: 10px;
  background-color: #ffffff;
  z-index: 1;
}

.countries__flag {
  position: absolute;
  top: -7px;
  left: 25px;
  width: 35px;
}

.countries__name {
  position: absolute;
  top: 6px;
  left: 24px;
  color: #161c35;
  font-size: 21px;
  font-weight: 800;
  line-height: 21px;
}

.countries__slogan {
  position: absolute;
  top: 33px;
  left: 26px;
  opacity: 0.3;
  color: #444444;
  font-size: 16px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: -0.4px;
}

.countries__people-count {
  position: absolute;
  top: 28px;
  left: 146px;
  width: 100px;
  opacity: 0.3;
  color: #444444;
  font-size: 16px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: -0.4px;
  text-transform: uppercase;
  text-align: right;
}

.countries__people-count::before {
  content: "";
  position: relative;
  display: inline-block;
  top: 2px;
  left: -7px;
  width: 15px;
  height: 15px;
  background-image: url(../img/user.svg);
  background-repeat: no-repeat;
  background-position: 4px 1px;
  background-size: 11px;
}

.countries__button {
  width: 270px;
  margin-top: 66px;
  height: 1px;
  margin-bottom: 30px;
  padding-bottom: 39px;
  padding-top: 23px;
  padding-left: 24px;
  text-decoration: none;
  border-radius: 10px;
  background-color: #ffd74b;
  background-image: url("../img/triangle-arrow-right.svg");
  background-repeat: no-repeat;
  background-position: 236px 23px;
  background-size: 11px;
  color: #1d2e5b;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
}

@media (min-width: $tablet-width) {
  .countries {
    border-radius: 0 0 60px 60px;
    &__wrapper{
      width: 768px;
      padding: 0 40px;
      margin-top: -58px;
      background-image: url("../img/flags-back@1x.png");
      background-repeat: no-repeat;
      background-position: 440px 138px;
      &::before {
        content: "";
        position: absolute;
        top: 464px;
        left: 39px;
        width: 141px;
        height: 141px;
        border-radius: 20px;
        background-color: #e2e5f2;
        z-index: -1;
      }
    }
  }

  .countries__title {
    padding-top: 89px;
    padding-left: 32px;
    font-size: 45px;
    font-weight: 800;
    line-height: 45px;
  }

  .countries__text {
    margin-top: 22px;
    padding-left: 34px;
    width: 375px;
    color: #444444;
    font-size: 28px;
    font-weight: 300;
    line-height: 33px;
  }

  .countries__position {
    margin-top: 41px;
  }

  .countries__item {
   position: relative;
   margin-top: 38px;
   margin-left: 0px;
   margin-bottom: -66px;
 }

 .countries__background {
  position: relative;
  margin-top: 39px;
  margin-left: 383px;
  border-radius: 0 20px 20px 0;
}

.countries__description {
  position: relative;
  margin-top: -117px;
  margin-left: 34px;
  width: 431px;
  height: 140px;
  border-radius: 20px 0 0 20px;
}

.countries__flag {
  position: absolute;
  top: 16px;
  left: 398px;
  width: 70px;
  height: 47px;
}

.countries__name {
  position: absolute;
  top: 8px;
  left: 30px;
  color: #161c35;
  font-size: 24px;
  font-weight: 800;
  line-height: 24px;
}

.countries__slogan {
  position: absolute;
  top: 40px;
  left: 30px;
  color: #444444;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: -0.5px;
}

.countries__people-count {
  position: absolute;
  top: 92px;
  left: 40px;
  color: #444444;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  text-transform: uppercase;
  letter-spacing: -0.9px;
  text-align: left;
}

.countries__people-count::before {
 top: 6px;
 left: -12px;
 width: 21px;
 height: 21px;
 background-position: 2px 1px;
 background-size: 20px;
}

.countries__button {
  width: 618px;
  height: 19px;
  margin-top: 116px;
  margin-left: 34px;
  margin-bottom: 80px;
  padding-bottom: 52px;
  padding-top: 29px;
  padding-left: 33px;
  background-position: 572px 33px;
  border-radius: 20px;
  font-size: 24px;
  font-weight: 800;
  line-height: 24px;
}
}

@media (min-width: $desktop-width) {
  .countries {
   border-radius: 0 0 60px 60px;
   &__wrapper{
    width: 1320px;
    padding: 0 60px;
    padding-top: 78px;
    margin-top: -173px;
    background-image: url("../img/flags-back@1x.png");
    background-repeat: no-repeat;
    background-position: 1029px 143px;
    &::before {
      top: 144px;
      left: -2px;
    }
  }
}
.countries__title {
  position: relative;
  margin-top: 50px;
  margin-left: 708px;
  font-size: 45px;
  font-weight: 800;
  line-height: 45px;
}

.countries__text {
 position: relative;
 margin-top: 22px;
 margin-left: 705px;
 width: 383px;
 color: #444444;
 font-size: 28px;
 font-weight: 300;
 line-height: 33px;
}

.countries__position {
  margin-top: -336px;
}

.countries__item {
  margin-bottom: -66px;
  margin-left: -25px;
  width: 700px;
}

.countries__background {
  margin-top: 39px;
  margin-left: 323px;
}

.countries__description {
  width: 374px;
}

.countries__flag {
  top: 23px;
  left: 338px;
}

.countries__name {
  top: -2px;
}

.countries__slogan {
  top: 33px;
  left: 32px;
}

.countries__people-count {
 top: 91px;
 left: 41px;
}
.countries__people-count::before {
 top: 3px;

}
.countries__button {
  width: 274px;
  height: 12px;
  margin-top: -5px;
  margin-left: 742px;
  margin-bottom: 139px;
  padding-top: 29px;
  padding-left: 33px;
  background-position: 228px 33px;
}
}
