.cta {
  background-color: #192144;
  margin: 0px -8px;
  &__wrapper{
    position: relative;
    padding: 0 25px;
    margin: 0 auto;
    margin-top: -27px;
    width: 270px;
    display: flex;
    flex-direction: column;
    border-radius: 0 0 30px 30px;
  }
}

.cta__title {
  margin-top: 100px;
  margin-left: 31px;
  color: #ff8d30;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
}

.cta__reg {
  width: 226px;
  margin-top: -1px;
  margin-left: 22px;
  text-align: center;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
}

.cta__auth {
  color: #ffd74b;
  text-decoration: underline;
}

.cta-form {
  position: relative;
  margin-top: 1px;
}

.cta-form__input {
  width: 245px;
  height: 60px;
  margin-top: 12px;
  border: none;
  border-radius: 10px;
  background-color: #ffffff;
  padding-left: 26px;
  font-size: 17px;
}

.button-submit {
  position: absolute;
  top: 12px;
  right: 0;
  width: 60px;
  height: 62px;
  border: none;
  border-radius: 10px;
  background-color: #ffd74b;
}

.button-submit span {
  display: none;
}

.button-submit::after {
  content: "";
  position: absolute;
  left: 27px;
  bottom: 23px;
  border: 8px solid transparent;
  border-left: 10px solid #000000;
  cursor: pointer;
}

.cta__text {
  margin-top: 29px;
  margin-left: 0;
  text-align: center;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
}

.cta__tel {
  margin-left: 63px;
  margin-top: 14px;
  color: #ffd74b;
  text-decoration: none;
  font-weight: 700;
}

.cta__mail {
  margin-left: 63px;
  margin-top: 23px;
  margin-bottom: 39px;
  color: #ffd74b;
  text-decoration: none;
  font-weight: 700;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .cta {
    &__wrapper{
      width: 688px;
      padding: 0 40px;
      margin-top: -64px;
      border-radius: 0 0 60px 60px;
    }
  }

  .cta__title {
    margin-top: 141px;
    margin-left: 149px;
    font-size: 45px;
    font-weight: 700;
    line-height: 45px;
  }

  .cta__reg {
    width: 83%;
    margin-top: 19px;
    margin-left: 84px;
    font-size: 28px;
    font-weight: 300;
    line-height: 33px;
  }

  .cta__reg br {
    display: none;
  }

  .cta-form {
    margin-top: 23px;
    margin-left: 35px;
  }

  .cta-form__input {
    width: 520px;
    height: 79px;
    border-radius: 20px 0 0 20px;
    background-color: #ffffff;
    padding-left: 34px;
    font-size: 22px;
  }

  .button-submit {
    top: 12px;
    right: 35px;
    width: 82px;
    height: 81px;
    border-radius: 0 20px 20px 0;
  }

  .button-submit span {
    display: none;
  }

  .button-submit::after {
    left: 36px;
    bottom: 32px;
    border: 8px solid transparent;
    border-left: 10px solid #000000;
  }

  .cta__text {
    margin-top: 64px;
    margin-left: 1px;
    font-size: 28px;
  }

  .cta__text br {
    display: none;
  }

  .cta__tel {
    margin-left: 126px;
    margin-top: 18px;
    font-size: 28px;
    font-weight: 700;
    line-height: 28px;
  }

  .cta__mail {
    margin-left: 127px;
    margin-top: 38px;
    margin-bottom: 78px;
    font-size: 28px;
    font-weight: 700;
    line-height: 28px;
  }
}

@media (min-width: $desktop-width) {
  .cta {
    &__wrapper{
      position: relative;
      width: 1320px;
      margin-top: -55px;
      padding: 0 60px;
      border-radius: 0 0 60px 60px;
    }
  }
  .cta__title {
    margin-top: 162px;
    margin-left: 1px;
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    line-height: 45px;
  }

  .cta__reg {
    width: 562px;
    margin-top: 20px;
    margin-left: 405px;
    margin-bottom: 24px;
    font-size: 28px;
    font-weight: 300;
    line-height: 33px;
  }

  .cta__reg br {
    display: none;
  }

  .cta-form {
    margin-top: 21px;
    margin-left: 72px;
  }

  .cta-form__input {
    width: 850px;
    height: 79px;
    border-radius: 20px 0 0 20px;
    padding-left: 34px;
    font-size: 22px;
  }

  .button-submit {
    top: 12px;
    right: 74px;
    width: 324px;
    height: 81px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  .button-submit::after {
    left: 278px;
    bottom: 32px;
    border: 8px solid transparent;
    border-left: 10px solid #000000;
  }

  .button-submit span {
    display: block;
    font-family: $ff;
    margin-top: 1px;
    margin-right: 114px;
    color: #1d2e5b;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
  }

  .cta__text {
    margin-top: 73px;
    margin-left: 2px;
  }

  .cta__tel {
    margin-left: 345px;
    margin-top: 54px;
  }

  .cta__mail {
    margin-left: 785px;
    margin-top: -28px;
    margin-bottom: 132px;
  }
}
