.cta {
  position: relative;
  background-color: #192144;
  border-radius: 0 0 30px 30px;
  z-index: 2;
  &__wrapper{
    position: relative;
    padding: 0 25px;
    margin: 0 auto;
    margin-top: -28px;
    width: 320px;
    display: flex;
    flex-direction: column;
  }
}

.cta__title {
  margin-top: 100px;
  margin-left: 31px;
  color: #ff8d30;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
}

.cta__reg {
  width: 226px;
  margin-top: -1px;
  margin-left: 22px;
  text-align: center;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
}

.cta__auth {
  color: #ffd74b;
  text-decoration: underline;
}

.cta-form {
  position: relative;
  margin-top: 1px;
}

.cta-form__input {
  width: 245px;
  height: 62px;
  margin-top: 12px;
  border: none;
  border-radius: 10px;
  background-color: #ffffff;
  padding-left: 26px;
  font-size: 17px;
}

.cta-form-submit {
  position: absolute;
  top: 12px;
  right: 0;
  width: 60px;
  height: 62px;
  border: none;
  border-radius: 10px;
  background-color: #ffd74b;
  background-image: url(../img/triangle-arrow-right.svg);
  background-repeat: no-repeat;
  background-position: 26px 23px;
  background-size: 11px;
}

.cta-form-submit span {
  display: none;
}

.cta__text {
  margin-top: 29px;
  margin-left: 0;
  text-align: center;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
}

.cta__tel {
  position: relative;
  margin-left: 63px;
  margin-top: 14px;
  color: #ffd74b;
  text-decoration: none;
  font-weight: 700;
}

.cta__tel::before {
  content: "";
  position: absolute;
  top: -13px;
  left: -63px;
  width: 45px;
  height: 45px;
  background-color: #121936;
  border-radius: 50%;
  background-image: url("../img/contacts-phone.svg");
  background-repeat: no-repeat;
  background-position: 14px 15px;
  background-size: 18px;
}

.cta__mail {
  position: relative;
  margin-left: 63px;
  margin-top: 23px;
  margin-bottom: 39px;
  color: #ffd74b;
  text-decoration: none;
  font-weight: 700;
  text-transform: uppercase;
}

.cta__mail::before {
 content: "";
 position: absolute;
 top: -13px;
 left: -63px;
 width: 45px;
 height: 45px;
 background-color: #121936;
 border-radius: 50%;
 background-image: url("../img/contacts-mail.svg");
 background-repeat: no-repeat;
 background-position: 14px 17px;
 background-size: 19px;
}

@media (min-width: $tablet-width) {
  .cta {
    border-radius: 0 0 60px 60px;
    &__wrapper{
      width: 768px;
      padding: 0 40px;
      margin-top: -64px;
    }
  }

  .cta__title {
    margin-top: 136px;
    margin-left: 148px;
    font-size: 45px;
    font-weight: 700;
    line-height: 45px;
  }

  .cta__reg {
    width: 561px;
    margin-top: 21px;
    margin-left: 88px;
    font-size: 28px;
    font-weight: 300;
    line-height: 33px;
  }

  .cta__reg br {
    display: none;
  }

  .cta-form {
    margin-top: 26px;
    margin-left: 34px;
  }

  .cta-form__input {
    width: 537px;
    height: 81px;
    border-radius: 20px 0 0 20px;
    background-color: #ffffff;
    padding-left: 34px;
    font-size: 22px;
  }

  .cta-form-submit {
    top: 12px;
    right: 36px;
    width: 82px;
    height: 81px;
    background-position: 35px 33px;
    border-radius: 0 20px 20px 0;
  }

  .cta-form-submit span {
    display: none;
  }
  .cta__text {
    margin-top: 64px;
    margin-left: 1px;
    font-size: 28px;
  }

  .cta__text br {
    display: none;
  }

  .cta__tel {
   margin-left: 125px;
   margin-top: 16px;
   font-size: 28px;
   font-weight: 700;
   line-height: 28px;
 }

 .cta__tel::before {
  top: -22px;
  left: -91px;
  width: 68px;
  height: 68px;
  background-position: 20px 19px;
  background-size: 28px;
}

.cta__mail {
  margin-left: 126px;
  margin-top: 38px;
  margin-bottom: 80px;
  font-size: 28px;
  font-weight: 700;
  line-height: 28px;
}

.cta__mail::before {
 top: -20px;
 left: -92px;
 width: 68px;
 height: 68px;
 background-position: 20px 25px;
 background-size: 28px;
}
}

@media (min-width: $desktop-width) {
  .cta {
    border-radius: 0 0 60px 60px;
    &__wrapper{
      position: relative;
      width: 1320px;
      margin-top: -55px;
      padding: 0 60px;
    }
  }
  .cta__title {
    margin-top: 158px;
    margin-left: -1px;
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    line-height: 45px;
  }

  .cta__reg {
    width: 600px;
    margin-top: 20px;
    margin-left: 298px;
    margin-bottom: 24px;
    font-size: 28px;
    font-weight: 300;
    line-height: 33px;
  }

  .cta__reg br:nth-child(2) {
    display: block;
  }

  .cta-form {
    margin-top: 25px;
    margin-left: 10px;
  }

  .cta-form__input {
    width: 850px;
    height: 81px;
    border-radius: 20px 0 0 20px;
    padding-left: 34px;
    font-size: 22px;
  }

  .cta-form-submit {
    top: 12px;
    right: 16px;
    width: 324px;
    height: 81px;
    background-position: 278px 33px;
  }

  .cta-form-submit span {
   display: block;
   font-family: $ff;
   margin-top: 1px;
   margin-right: 114px;
   color: #1d2e5b;
   font-size: 24px;
   font-weight: 700;
   line-height: 24px;
 }

 .cta__text {
   margin-top: 71px;
   margin-left: -2px;
 }

 .cta__tel {
  margin-left: 283px;
  margin-top: 54px;
}

.cta__tel::before {
  top: -32px;
  left: -122px;
  width: 90px;
  height: 90px;
  background-position: 26px 26px;
  background-size: 40px;
}

.cta__mail {
  margin-left: 723px;
  margin-top: -28px;
  margin-bottom: 134px;
}

.cta__mail::before {
  top: -32px;
  left: -122px;
  width: 90px;
  height: 90px;
  background-position: 26px 32px;
  background-size: 38px;
}
}
