.filter {
  position: relative;
  padding: 0 25px;
  padding-top: 25px;
  margin: 0 auto;
  display: flex;
  width: 270px;
  flex-direction: column;
  background-color: #edeff6;
}

.filter__form {
  background-color: #ffd74b;
}

@media (min-width: $tablet-width) {
  .filter {
    width: 688px;
    padding: 0 40px;
  }
}

@media (min-width: $desktop-width) {
  .filter {
    width: 1320px;
    padding: 0 60px;
  }
}
