.footer {
  position: relative;
  background-color: #ffffff;
  border-radius: 30px 30px 0 0;
  z-index: 3;
  &__wrapper{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 270px;
    height: 231px;
    margin: 0 auto;
    margin-top: -25px;
    padding: 0 25px;
  }
}

.footer__logo {
  position: absolute;
  top: 39px;
  left: 110px;
  width: 200px;
  height: 19px;
  background-image: url("../img/logo-mobile-blue@1x.png");
  background-repeat: no-repeat;
}

.footer__social {
  display: flex;
  margin-left: 52px;
  padding-top: 95px;
}

.footer__social-item {
  display: flex;
  margin-right: 45px;
  justify-content: space-around;
}

.footer__social-facebook {
  position: absolute;
  background-image: url("../img/facebook.svg");
  background-size: 10px;
  background-position: 16px 13px;
  background-repeat: no-repeat;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  background-color: #ffd74b;
}

.footer__social-vk {
  position: absolute;
  background-image: url("../img/vk.svg");
  background-size: 25px;
  background-position: 9px 16px;
  background-repeat: no-repeat;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  background-color: #ffd74b;
}

.footer__social-instagram {
  position: absolute;
  background-image: url("../img/instagram.svg");
  background-size: 18px;
  background-position: 13px 13px;
  background-repeat: no-repeat;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  background-color: #ffd74b;
}


@media (min-width: $tablet-width) {
  .footer {
    border-radius: 60px 60px 0 0;
    margin-top: 1px;
    &__wrapper{
    flex-direction: row;
     width: 688px;
     height: 147px;
     margin: 0 40px;
   }
 }

}

@media (min-width: $desktop-width) {
  .footer {
    border-radius: 60px 60px 0 0;
    &__wrapper{
      flex-direction: row;
      width:1320px;
      margin: 0 60px;
    }
  }

}
