.header {
  background-color: #161c35;
  background-size: 100% auto;
  margin: 0px -8px;
  &__wrapper{
    position: relative;
    padding: 0 25px;
    margin: 0 auto;
    margin-top: -8px;
    width: 270px;
    display: flex;
    flex-direction: column;
     }
}

.header__logo {
  margin-top: 20px;
  width: 200px;
  height: 19px;
  background-image: url("../img/logo-mobile-white@1x.png");
  background-repeat: no-repeat;
}

.header__menu {
  position: absolute;
  right: 24px;
  top: 22px;
  width: 26px;
  height: 16px;
  background-image: url("../img/menu.svg");
  background-size: 25px 15px;
  background-repeat: no-repeat;
  cursor: pointer;
}

.header__button-back,
.header__button-auth,
.header__button-call,
.header__button-email,
.header__list {
  display: none;
}

.header__title {
  margin-top: 56px;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 9px;
}

@media (min-width: $tablet-width) {
  .header {
    &__wrapper{
      width: 688px;
      padding: 0 40px;
      margin-bottom: 0;
    }
  }
  .header__logo {
    margin-top: 45px;
    height: 42px;
    background-image: url("../img/logo-tablet-white@1x.png");
  }

  .header__menu {
    right: 370px;
    top: 59px;
  }

  .header__button-back {
    display: block;
    top: -108px;
    right: -475px;
    width: 123px;
    position: relative;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-decoration: none;
    text-transform: uppercase;
  }

  .header__button-back::after {
    content: "";
    position: absolute;
    left: 141px;
    top: 1px;
    width: 40px;
    height: 40px;
    background-image: url("../img/return.svg");
    background-size: 39px 16px;
    background-repeat: no-repeat;
  }

  .header__button-auth {
    display: block;
    position: absolute;
    right: 40px;
    top: 40px;
    color: #161c35;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    text-decoration: none;
    width: 188px;
    height: 39px;
    border-radius: 25px;
    background-color: #ffd74b;
    text-align: center;
    padding-top: 10px;
  }

  .header__button-off {
    display: none;
  }

  .header__title {
    margin-top: 131px;
    margin-left: 34px;
    margin-bottom: 64px;
    font-size: 60px;
    font-weight: 700;
    line-height: 70px;
  }
}

@media (min-width: $desktop-width) {
  .header {
   &__wrapper{
    width: 1320px;
    padding: 0 60px;
  }
}
.header__logo {
  margin-top: 48px;
  height: 52px;
  background-image: url("../img/logo-desktop-white@1x.png");
}

.header__menu {
  position: absolute;
  top: 46px;
  left: 367px;
  background-image: none;
}

.header__list {
  display: flex;
  width: 500px;
  list-style: none;
}

.header__link {
  color: #ffffff;
  font-size: 17px;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 33px;
}

.header__button-auth {
  right: 59px;
  top: 50px;
}

.header__button-call {
  display: block;
  position: absolute;
  right: 298px;
  top: 49px;
  text-decoration: none;
  width: 50px;
  height: 50px;
  background-color: #ff8d30;
  border-radius: 50%;
  background-image: url("../img/topmenu-phone.svg");
  background-repeat: no-repeat;
  background-size: 18px;
  background-position: 50% 50%;
}

.header__button-email {
  display: block;
  position: absolute;
  right: 247px;
  top: 49px;
  text-decoration: none;
  width: 50px;
  height: 50px;
  background-color: #ffbd30;
  border-radius: 50%;
  background-image: url("../img/topmenu-mail.svg");
  background-repeat: no-repeat;
  background-size: 18px;
  background-position: 50% 50%;
}

.header__button-back {
  position: absolute;
  top: 243px;
  right: 174px;
  width: 126px;
}

.header__button-off {
  display: none;
}

.header__title {
  margin-top: 118px;
  margin-left: 67px;
  margin-bottom: 63px;
}
}
