.intro {
  position: relative;
  width: 270px;
  margin: 0 auto;
  margin-top: -8px;
  padding: 0 25px;
  background-color: #161c35;
  background-image: url("../img/traveller-illustration-mobile@1x.png"), url("../img/globe-back-mobile@1x.jpg");
  background-position: 79px 223px, 0 0;
  background-repeat: no-repeat, no-repeat;
  z-index: -1;
}

.intro::before {
  content: "";
  position: absolute;
  top: 478px;
  left: 0;
  width: 320px;
  height: 100px;
  background-color: #161c35;
  z-index: -1;
}

.intro__logo {
  position: absolute;
  top: 28px;
  left: 26px;
  width: 200px;
  height: 19px;
  background-image: url("../img/logo-mobile-white@1x.png");
  background-repeat: no-repeat;
}

.intro__menu {
  position: relative;
  padding-top: 50px;
  z-index: 1;

}
.intro__menu:after {
  content: "";
  position: absolute;
  right: -1px;
  top: 29px;
  width: 26px;
  height: 16px;
  background-image: url(../img/menu.svg);
  background-size: 25px 15px;
  background-repeat: no-repeat;
  cursor: pointer;
  z-index: 1;
}
.intro__menu:after:hover {
  cursor: pointer;
}

.intro__menu-list {
  display: none;
}

.button__menu {
  position: absolute;
  top: 466px;
  left: 125px;
}

.intro__title {
  padding-left: 20px;
  padding-top: 36px;
}

.intro__list {
  position: relative;
  display: flex;
  padding-top: 271px;
  list-style-type: none;
}

.intro__item {
  margin-right: 5px;
}

.intro__item a:visited {
  color: #ffffff;
}

.intro__comment {
  padding-left: 26px;
  padding-top: 10px;
  padding-bottom: 19px;
}

.intro__steps {
  margin-bottom: -1px;
  list-style-type: none;
  padding: 0;
}

.intro__step {
  width: 270px;
  height: 80px;
  background-color: #ff8d30;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

@media (min-width: $tablet-width) {
  .intro {
    width: 688px;
    padding: 0 40px;
    background-image: url("../img/traveller-illustration-tablet@1x.png"), url("../img/globe-back-tablet@1x.jpg");
    background-position: 284px 403px, -357px 380px;
    background-repeat: no-repeat;
    background-color: #182044;
  }

  .intro::before {
    display: none;
  }

  .intro__logo {
    position: absolute;
    top: 44px;
    left: 39px;
    width: 166px;
    height: 42px;
    background-image: url("../img/logo-tablet-white@1x.png");
  }

  .intro__menu {
    padding-top: 50px;
  }

  .intro__menu-list {
    display: none;
  }

  .button__menu {
    position: absolute;
    top: 54px;
    left: 544px;
  }

  .intro__title {
    margin-top: 111px;
    margin-left: 41px;
  }

  .intro__list {
    display: none;
  }

  .intro__comment {
    margin-top: 253px;
    margin-left: 8px;
  }

  .intro__steps {
    display: flex;
    flex-wrap: wrap;
    padding-top: 245px;
    margin-bottom: 122px;
  }

  .intro__step {
    width: 344px;
    height: 140px;
    background-color: #ff8d30;
  }
}

@media (min-width: $desktop-width) {
  .intro {
    width: 1360px;
    background-image: url("../img/traveller-illustration-desktop@1x.png"), url("../img/globe-back-desktop@1x.jpg");
    background-position: 603px 110px, -181px 0;
    background-repeat: no-repeat, no-repeat;
  }

  .intro__logo {
    position: absolute;
    top: 46px;
    left: 61px;
    width: 200px;
    height: 52px;
    background-image: url("../img/logo-desktop-white@1x.png");
  }

  .intro__menu {
    padding-top: 50px;
  }

  .intro__menu-list {
    display: flex;
    list-style-type: none;
    margin-left: 326px;
  }

  .intro__menu-link {
    margin-right: 38px;
  }

  .intro__menu-link a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
  }

  .intro__menu-link a:visited {
    color: #ffffff;
    text-decoration: none;
  }

  .button__menu {
    position: absolute;
    top: 63px;
    left: 1188px;
  }

  .intro__title {
    padding-top: 131px;
    padding-left: 13px;
  }

  .intro__list {
    display: flex;
    position: absolute;
    top: -223px;
    right: 252px;
  }

  .intro__comment {
    margin-top: -99px;
    margin-left: 1000px;
  }

  .intro__steps {
    display: flex;
    flex-wrap: nowrap;
    padding-top: 85px;
    padding-left: 20px;
    padding-bottom: 122px;
  }

  .intro__step {
    width: 330px;
    height: 108px;
  }
}
