.intro {
  position: relative;
  background-color: #161c35;
  &__wrapper{
    position: relative;
    width: 320px;
    margin: 0 auto;
    padding: 0 25px;
    background-image: url("../img/traveller-illustration-mobile@1x.png"), url("../img/globe-back-mobile@1x.jpg");
    background-position: 79px 223px, 0 0;
    background-repeat: no-repeat, no-repeat;
  }
}

.intro__logo {
  position: absolute;
  top: 27px;
  left: 25px;
  width: 200px;
  height: 19px;
  background-image: url("../img/logo-mobile-white@1x.png");
  background-repeat: no-repeat;
}

.intro__menu {
  position: relative;
  padding-top: 50px;
  z-index: 1;
}

.intro__menu::after {
  content: "";
  position: absolute;
  right: -1px;
  top: 29px;
  width: 26px;
  height: 16px;
  background-image: url("../img/menu.svg");
  background-size: 25px 15px;
  background-repeat: no-repeat;
  cursor: pointer;
  z-index: 1;
}

.intro__menu::after:hover {
  cursor: pointer;
}

<<<<<<< HEAD
<<<<<<< HEAD
.intro__title {
 padding-left: 20px;
 padding-top: 36px;
}
=======
  .button__menu {
    position: absolute;
    top: 466px;
    left: 125px;
  }

  .intro__title {
   padding-left: 20px;
   padding-top: 36px;
 }
>>>>>>> module4-task1
=======
.intro__menu-list {
  display: none;
  font-family: $ff;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  text-transform: uppercase;
}

.intro__menu-button {
  position: absolute;
  top: 458px;
  left: 81px;
  padding-top: 7px;
  width: 189px;
  text-align: center;
  height: 40px;
  border-radius: 20px;
  background-color: #ffd74b;
  color: #161c35;
  font-family: $ff;
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.intro__item--call {
  display: block;
  position: absolute;
  right: 50px;
  top: 1px;
  text-decoration: none;
  width: 40px;
  height: 40px;
  background-color: #ff8d30;
  border-radius: 50%;
  background-image: url("../img/topmenu-phone.svg");
  background-repeat: no-repeat;
  background-size: 18px;
  background-position: 50% 50%;
}

.intro__item--mail {
  display: block;
  position: absolute;
  right: 1px;
  top: 1px;
  margin-right: 9px;
  text-decoration: none;
  width: 40px;
  height: 40px;
  background-color: #ffbd30;
  border-radius: 50%;
  background-image: url("../img/topmenu-mail.svg");
  background-repeat: no-repeat;
  background-size: 18px;
  background-position: 50% 50%;
}
>>>>>>> module4-task1

.intro__title {
  margin-left: 13px;
  margin-top: 44px;
  color: #ffffff;
  font-family: $ff;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  text-align: center;
  width: 245px;
}

.intro__list {
  position: relative;
  display: flex;
  padding-top: 7px;
  margin-top: 243px;
  margin-right: 179px;
  list-style-type: none;
}

.intro__item a:visited {
  color: #ffffff;
}

.intro__comment {
  padding-left: 50px;
  padding-top: 12px;
  padding-bottom: 317px;
  background-color: #161c35;
  margin-left: -25px;
  margin-right: -25px;
  margin-top: -2px;
}

.intro__quote {
  margin-top: 35px;
  width: 148px;
  color: #ffffff;
  font-family: $ff;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
}

.intro__autor {
  margin-top: 18px;
  width: 156px;
  color: #ffffff;
  font-family: $ff;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
}

.intro__steps {
  display: flex;
  margin-bottom: -1px;
  list-style-type: none;
  padding: 0;
  color: #161c35;
  font-size: 18px;
  font-weight: 800;
  line-height: 18px;
  z-index: 1;
}

.intro__step--1 {
  position: absolute;
  left: 25px;
  top: 683px;
  padding-top: 22px;
  padding-left: 24px;
  padding-bottom: 66px;
  padding-right: 63px;
  width: 270px;
  height: 60px;
  border-radius: 10px 10px 0 0;
  background-color: #ff8d30;
}

.intro__step--2 {
  position: absolute;
  left: 25px;
  top: 763px;
  padding-top: 22px;
  padding-left: 24px;
  padding-bottom: 66px;
  padding-right: 63px;
  width: 270px;
  height: 60px;
  border-radius: 10px 10px 0 0;
  background-color: #ffa530;
}

.intro__step--3 {
  position: absolute;
  left: 25px;
  top: 843px;
  padding-top: 22px;
  padding-left: 24px;
  padding-bottom: 66px;
  padding-right: 104px;
  width: 270px;
  height: 60px;
  border-radius: 10px 10px 0 0;
  background-color: #ffbd30;
}

.intro__step--4 {
  position: absolute;
  left: 25px;
  top: 923px;
  padding-top: 22px;
  padding-left: 24px;
  padding-bottom: 58px;
  padding-right: 63px;
  width: 270px;
  height: 6px;
  border-radius: 10px;
  background-color: #ffd74b;
}

.intro__step-number {
  position: absolute;
  top: 1px;
  right: 1px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 800;
  line-height: 18px;
  z-index: 1;
}

.intro__step--1 .intro__step-number {
  top: 22px;
  right: 20px;
}

.intro__step--2 .intro__step-number {
  top: 22px;
  right: 21px;
}

.intro__step--3 .intro__step-number {
  top: 22px;
  right: 21px;
}

.intro__step--4 .intro__step-number {
  top: 22px;
  right: 21px;
}

@media (min-width: $tablet-width) {
  .intro {
   background-color: #161c35;
   &__wrapper{
    width: 688px;
    padding: 0 40px;
    background-image: url("../img/traveller-illustration-tablet@1x.png"), url("../img/globe-back-tablet@1x.jpg");
    background-position: 284px 403px, -357px 380px;
    background-repeat: no-repeat;
    background-color: #182044;
  }
}
.intro::before {
  display: none;
}

.intro__logo {
  position: absolute;
  top: 44px;
  left: 39px;
  width: 166px;
  height: 42px;
  background-image: url("../img/logo-tablet-white@1x.png");
}

.intro__menu {
  padding-top: 50px;
}

.intro__menu::after {
  right: 329px;
  top: 59px;
}

.intro__menu-list {
  display: none;
}

.intro__menu-button {
  left: 500px;
  top: 40px;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  width: 188px;
  height: 40px;
  border-radius: 25px;
  padding-top: 10px;
}

.intro__title {
  width: 395px;
  margin-top: 112px;
  margin-left: 147px;
  font-size: 60px;
  font-weight: 700;
  line-height: 70px;
  text-align: center;
}

.intro__list {
  display: none;
}

.intro__comment {
  margin-top: 1px;
  margin-left: 8px;
  padding-bottom: 569px;
}

.intro__quote {
  margin-top: 37px;
  margin-left: 2px;
  width: 262px;
  font-size: 28px;
  font-weight: 400;
  line-height: 33px;
}

.intro__autor {
  margin-top: 43px;
  margin-left: 2px;
  width: 250px;
  font-size: 21px;
  font-weight: 800;
  line-height: 25px;
}

.intro__steps {
  color: #161c35;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
}

.intro__step--1 {
  left: 40px;
  top: 854px;
  width: 247px;
  height: 66px;
  padding-top: 31px;
  padding-left: 33px;
  padding-bottom: 52px;
  padding-right: 85px;
  border-radius: 20px 0 0 0;
}

.intro__step--2 {
  left: 384px;
  top: 854px;
  width: 257px;
  height: 66px;
  padding-top: 31px;
  padding-left: 33px;
  padding-bottom: 52px;
  padding-right: 54px;
  border-radius: 20px 20px 0 0;
  background-color: #ffa530;
}

.intro__step--3 {
  left: 40px;
  top: 994px;
  width: 191px;
  height: 57px;
  padding-top: 31px;
  padding-left: 33px;
  padding-bottom: 52px;
  padding-right: 146px;
  border-radius: 0 0 0 20px;
  background-color: #ffbd30;
}

.intro__step--4 {
  left: 384px;
  top: 994px;
  width: 243px;
  height: 66px;
  padding-top: 31px;
  padding-left: 34px;
  padding-bottom: 43px;
  padding-right: 67px;
  border-radius: 0 0 20px 20px;
  background-color: #ffd74b;
}

.intro__step-number {
  position: absolute;
  top: 1px;
  right: 1px;
  color: #ffffff;
  font-size: 30px;
  font-weight: 800;
  line-height: 120px;
  z-index: 1;
}

.intro__step--1 .intro__step-number {
  top: 43px;
  left: 33px;
}

.intro__step--2 .intro__step-number {
  top: 43px;
  left: 33px;
}

.intro__step--3 .intro__step-number {
  top: 43px;
  left: 33px;
}

.intro__step-4 .intro__step-number {
  top: 43px;
  left: 33px;
}
}

@media (min-width: $desktop-width) {
 .intro {
   background-color: #161c35;
   &__wrapper{
    width: 1360px;
    background-image: url("../img/traveller-illustration-desktop@1x.png"), url("../img/globe-back-desktop@1x.jpg");
    background-position: 603px 110px, -181px 0;
    background-repeat: no-repeat, no-repeat;
  }
}
.intro__logo {
  position: absolute;
  top: 47px;
  left: 61px;
  width: 200px;
  height: 52px;
  background-image: url("../img/logo-desktop-white@1x.png");
}

.intro__menu {
  padding-top: 50px;
}

.intro__menu::before {
  content: "";
  position: absolute;
  top: 74px;
  left: 261px;
  width: 60px;
  height: 2px;
  border-radius: 1px;
  background-color: white;

}

.intro__menu-list {
  display: flex;
  list-style-type: none;
  margin-left: 326px;
  width: 600px;
  margin-top: 12px;
  margin-bottom: -3px;
  letter-spacing: -0.8px;
}

.intro__menu-link {
  margin-right: 38px;
}

.intro__menu-link a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
}

.intro__menu-link a:visited {
  color: #ffffff;
  text-decoration: none;
}

.intro__item--call {
  right: 50px;
  top: 0;
  width: 50px;
  height: 50px;
}

.intro__item--mail {
  right: -9px;
  top: 0px;
  text-decoration: none;
  width: 50px;
  height: 50px;
}

.intro__menu-button {
  position: absolute;
  top: 50px;
  left: 1151px;
}

.intro__menu::after {
  display: none;
}

.intro__title {
  padding-top: 8px;
  margin-left: 87px;
  text-align: left;
}

.intro__list {
  display: flex;
  position: absolute;
  top: -194px;
  right: -11px;
}

.intro__comment {
  margin-top: -236px;
  margin-left: 1004px;
  padding-bottom: 95px;
}

.intro__quote {
  margin-top: -13px;
  margin-left: 24px;
  font-size: 28px;
  font-weight: 300;
  line-height: 33px;
  width: 264px;
}

.intro__autor {
  margin-top: 43px;
  margin-left: 24px;
  font-size: 21px;
  font-weight: 700;
  line-height: 25px;
}

.intro__steps {
  position: relative;
  padding-top: 58px;
  padding-left: 19px;
  padding-bottom: 271px;
}

.intro__step {
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
}

.intro__step--1 {
  left: 20px;
  top: -25px;
  width: 233px;
  height: 26px;
  padding-top: 29px;
  padding-left: 34px;
  padding-right: 73px;
  border-radius: 20px 0 0 20px;
}

.intro__step--2 {
  left: 335px;
  top: -25px;
  width: 233px;
  height: 26px;
  padding-top: 29px;
  padding-left: 30px;
  padding-right: 100px;
  border-radius: 20px 0 0 20px;
}

.intro__step--3 {
  left: 680px;
  top: -25px;
  width: 186px;
  height: 26px;
  padding-top: 29px;
  padding-left: 32px;
  padding-right: 160px;
  border-radius: 20px 0 0 20px;
}

.intro__step--4 {
  left: 1025px;
  top: -25px;
  width: 233px;
  height: 35px;
  padding-top: 29px;
  padding-left: 30px;
  padding-right: 52px;
  border-radius: 20px;
}

.intro__step-number {
  font-size: 24px;
  font-weight: 700;
  line-height: 120px;
}

.intro__step--1 .intro__step-number {
  top: -19px;
  left: 268px;
}

.intro__step--2 .intro__step-number {
  top: -19px;
  left: 299px;
}

.intro__step--3 .intro__step-number {
  top: -19px;
  left: 300px;
}

.intro__step--4 .intro__step-number {
  top: -19px;
  left: 270px;
}
}
