.map {
  position: relative;
  margin: 0 -8px;
  display: flex;
}

.map-g {
  width: 100%;
  height: 314px;
}

@media (min-width: $tablet-width) {
  .map {
  }

  .map-g{
    width: 100%;
    height: 654px;
  }
}

@media (min-width: $desktop-width) {
  .map {
    position: relative;
    width: 100%;
   }

  .map-g{
    width: 100%;
    height: 489px;
  }
}
