.map {
  position: relative;
  margin: 0 -8px;
  margin-top: -25px;
  display: flex;
}

.map-g {
 position: relative;
 width: 100%;
 height: 334px;
}

@media (min-width: $tablet-width) {
  .map {
    margin-top: -56px;
  }

  .map-g{
    height: 571px;
  }
}

@media (min-width: $desktop-width) {
  .map {
    margin-bottom: -87px;
  }

  .map-g{
    height: 515px;
  }
}
