 .menu-modal {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  z-index: 6;
  display: none;
  margin: 0 auto;
  padding: 0 25px;
  width: 320px;
  height: 568px;
  background-color: #ffffff;
}
.modal-show {
  display: block;
}
.menu-modal__logo {
 position: absolute;
 top: 27px;
 left: 25px;
 width: 200px;
 height: 19px;
 background-image: url("../img/logo-mobile-blue@1x.png");
 background-repeat: no-repeat;
}

.menu-modal__list {
  margin: 0 auto;
  margin-top: 115px;
  margin-left: -39px;
}

.menu-modal__list ::after {
 content: "";
 position: absolute;
 right: 28px;
 top: 26px;
 width: 19px;
 height: 19px;
 background-image: url(../img/menu-close.svg);
 background-size: 19px;
 background-position: 1px 1px;
 background-repeat: no-repeat;
 cursor: pointer;
 z-index: 1;

}
.menu-modal__list-item {
  text-align: center;
}
.menu-modal__list-item a {
  color: #192144;
  font-family: $ff;
  font-size: 30px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: -1px;
  text-transform: uppercase;
  text-align: center;
}

.menu-modal__list-auth {
  margin-top: 51px;
  margin-left: -1px;
  padding-top: 10px;
  padding-left: 79px;
  width: 270px;
  height: 50px;
  border-radius: 25px;
  background-color: #ffd74b;
  color: #161c35;
  font-family: $ff;
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  list-style: none;
}
.menu-modal__list-auth a{
  color: #161c35;
}

.menu-modal__tel {
  position: absolute;
  margin-left: 63px;
  margin-top: 64px;
  color: #192144;
  text-decoration: none;
  font-weight: 700;
}

.menu-modal__tel::before {
  content: "";
  position: absolute;
  top: -13px;
  left: -63px;
  width: 45px;
  height: 45px;
  background-color: #121936;
  border-radius: 50%;
  background-image: url("../img/contacts-phone.svg");
  background-repeat: no-repeat;
  background-position: 14px 15px;
  background-size: 18px;
}
.menu-modal__mail {
  position: absolute;
  margin-left: 63px;
  margin-top: 109px;
  margin-bottom: 39px;
  color: #192144;
  text-decoration: none;
  font-weight: 700;
  text-transform: uppercase;
}

.menu-modal__mail::before {
 content: "";
 position: absolute;
 top: -13px;
 left: -63px;
 width: 45px;
 height: 45px;
 background-color: #121936;
 border-radius: 50%;
 background-image: url("../img/contacts-mail.svg");
 background-repeat: no-repeat;
 background-position: 14px 17px;
 background-size: 19px;
}

.menu-modal__social {
  display: flex;
  position: absolute;
  left: 77px;
  bottom: 57px;
}

.menu-modal__social-item {
 display: flex;
 margin-right: 45px;
 justify-content: space-around;
}

.menu-modal__social-facebook {
  position: absolute;
  background-image: url("../img/facebook.svg");
  background-size: 10px;
  background-position: 16px 13px;
  background-repeat: no-repeat;
  border-radius: 50%;
  width: 45px;
  height: 45px;
}

.menu-modal__social-vk {
  position: absolute;
  background-image: url("../img/vk.svg");
  background-size: 25px;
  background-position: 9px 16px;
  background-repeat: no-repeat;
  border-radius: 50%;
  width: 45px;
  height: 45px;
}

.menu-modal__social-instagram {
  position: absolute;
  background-image: url("../img/instagram.svg");
  background-size: 18px;
  background-position: 13px 13px;
  background-repeat: no-repeat;
  border-radius: 50%;
  width: 45px;
  height: 45px;
}

@media (min-width: $tablet-width) {
  .menu-modal {
   width: 768px;
   padding: 0 40px;
 }
}
