.plans {
  padding: 0 25px;
  padding-bottom: 19px;
  margin: 0 auto;
  width: 270px;
  display: flex;
  flex-direction: column;
  background-color: #dfe3f0;
}

.plans__header {
  margin-top: 29px;
  margin-bottom: 29px;
  color: #1d2e5b;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
}

.plans__partition {
  background-color: #ffffff;
  color: #1d2e5b;
  border-radius: 10px;
  margin-bottom: 10px;
}

.plans__country {
  margin-top: 24px;
  margin-left: 24px;
  color: #1d2e5b;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
}

.plans__traveler {
  margin-top: 20px;
  margin-left: 25px;
  color: #1d2e5b;
  font-family: $ff;
  font-size: 14px;
  font-weight: 600;
  line-height: 14px;
  text-transform: uppercase;
  letter-spacing: 1.4px;
}

.plans__date {
  margin-top: -9px;
  margin-left: 25px;
  color: #1d2e5b;
  font-family: $ff;
  font-size: 14px;
  font-weight: 600;
  line-height: 14px;
  text-transform: uppercase;
  letter-spacing: 1.4px;
}

.plans__button {
  width: 73px;
  height: 11px;
  margin-top: 8px;
  margin-left: 19px;
  margin-bottom: 28px;
  opacity: 0.3;
  font-family: $ff;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  border: none;
  background-color: transparent;
}

@media (min-width: $tablet-width) {
  .plans {
    width: 688px;
    padding: 0 40px;
    padding-bottom: 64px;
  }

  .plans__header {
    margin-top: 51px;
    margin-bottom: 40px;
    margin-left: 34px;
    font-size: 36px;
    font-weight: 700;
    line-height: 50px;
  }

  .plans__partition {
    position: relative;
    display: flex;
    width: 618px;
    height: 152px;
    margin-left: 35px;
    margin-bottom: 10px;
    border-radius: 10px;
  }

  .plans__country {
    position: absolute;
    left: 12px;
    top: 3px;
    color: #1d2e5b;
    font-family: $ff;
    font-size: 24px;
    font-weight: 800;
    line-height: 50px;
    width: 100%;
    /*  border-bottom: 1px solid #cbced9; */
  }

  .plans__country span {
    position: absolute;
    right: 63px;
    top: 14px;
    color: #1d2e5b;
    font-family: $ff;
    font-size: 20px;
    font-weight: 600;
    line-height: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  .plans__traveler {
    margin-top: 118px;
    margin-left: 32px;
    width: 141px;
    color: #1d2e5b;
    font-family: $ff;
    font-size: 20px;
    font-weight: 600;
    line-height: 18px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
  }

  .plans__date {
    margin-top: 118px;
    width: 220px;
    text-align: center;
    color: #1d2e5b;
    font-family: $ff;
    font-size: 20px;
    font-weight: 600;
    line-height: 18px;
    text-transform: uppercase;
    letter-spacing: 1.7px;
  }

  .plans__button {
    position: absolute;
    width: 73px;
    height: 11px;
    right: 74px;
    bottom: -4px;
    font-family: $ff;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1.5px;
  }
}


@media (min-width: $desktop-width) {
  .plans {
    width: 1320px;
    padding: 0 60px;
  }

  .plans__header {
    margin-top: 50px;
    margin-left: 71px;
  }

  .plans__partition {
    width: 1256px;
    height: 97px;
    margin-left: 64px;
    margin-bottom: 15px;
    border-radius: 10px;
  }

  .plans__country {
    left: 70px;
    top: 0;
  }

  .plans__country span {
    left: -52px;
    top: 17px;
  }

  .plans__traveler {
    margin-top: 41px;
    margin-left: 627px;
  }

  .plans__date {
    margin-top: 41px;
    margin-left: 14px;
  }

  .plans__button {
    right: 79px;
    bottom: 18px;
  }
}
