.plans {
  padding: 0 25px;
  margin: 0 auto;
  min-height: 390px;
  display: flex;
  flex-direction: column;
  background-color: #dfe3f0;
}

.plans__partition {
  background-color: #ffffff;
  color: #1d2e5b;
}

@media (min-width: $tablet-width) {
  .header {
    width: 688px;
    padding: 0 40px;
  }
}


@media (min-width: $desktop-width) {
  .header {
    width: 1320px;
    padding: 0 60px;
  }
}
