.rates-modal {
  position: fixed;
  top: 16px;
  left: 50%;
  transform: translate(-50%);
  z-index: 6;
  display: none;
  margin: 0 auto;
  padding: 0 25px;
  width: 270px;
  height: 443px;
  box-shadow: 0 20px 50px rgba(29, 46, 91, 0.1);
  border-radius: 20px;
  background-color: #ffffff;

}
.modal-show {
  display: block;
}

.rates-modal__title {
  margin-top: 31px;
  margin-left: 26px;
  color: #ff8d30;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
}
.rates-modal__list {
  list-style: none;
  margin-top: 42px;
  margin-left: -25px;
}

.rates-modal__item {
  position: relative;
  margin-bottom: -2px;
}

.rates-modal__text {
  position: relative;
  color: #444444;
  width: 184px;
  margin-left: -14px;
  margin-top: 24px;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
}

.rates-modal__text::before {
  content: "";
  position: absolute;
  top: -12px;
  left: 0px;
  width: 217px;
  height: 1px;
  background-color: rgba(0,0,0,0.1);
}

.rates-modal__text span {
  display: block;
}

.rates-modal__button-close::after {
  content: "";
  position: absolute;
  bottom: 92px;
  left: 26px;
  width: 217px;
  height: 1px;
  background-color: rgba(0,0,0,0.1);
}
.rates-modal__button-close {
 display: block;
 padding-left: 80px;
 padding-top: 18px;
 margin-top: 47px;
 margin-left: -25px;
 width: 270px;
 height: 59px;
 border-radius: 0 0 20px 20px;
 background-color: #f3f4f8;
 color: #1d2e5b;
 font-size: 16px;
 font-weight: 700;
 line-height: 24px;
 text-transform: uppercase;
 cursor: pointer;
}
@media (min-width: $tablet-width) {
  .rates-modal {

  }
}
