.steps {
  padding: 0 25px;
  margin: 0 auto;
  min-height: 390px;
  display: flex;
  flex-direction: column;
  background-color: #d4d9eb;
}

.steps-1,
.steps-2,
.steps-3 {
  color: #1d2e5b;
  background-color: #ffffff;
  margin-bottom: 10px;
}

@media (min-width: $tablet-width) {
  .header {
    width: 688px;
    padding: 0 40px;
  }
}


@media (min-width: $desktop-width) {
  .header {
    width: 1320px;
    padding: 0 60px;
  }
}
