.steps {
  padding: 0 25px;
  margin: 0 auto;
  width: 270px;
  display: flex;
  flex-direction: column;
  background-color: #d4d9eb;
}

.steps__title {
  margin-top: 30px;
  margin-bottom: 29px;
  color: #1d2e5b;
  font-family: $ff;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
}

@media (min-width: $tablet-width) {
  .steps {
    width: 688px;
    padding: 0 40px;
  }

  .steps__title {
    margin-top: 49px;
    margin-left: 35px;
    margin-bottom: 49px;
    font-size: 36px;
    font-weight: 700;
    line-height: 50px;
  }
}

@media (min-width: $desktop-width) {
  .steps {
    width: 1320px;
    padding: 0 60px;
  }

  .steps__title {
    margin-top: 97px;
    margin-left: 70px;
  }
}
