.travelmates {
  padding: 0 25px;
  margin: 0 auto;
  width: 270px;
  display: flex;
  flex-direction: column;
  background-color: #192144;
}

.travelmates__title {
 padding-top: 51px;
 padding-left: 24px;
 font-size: 24px;
}

.travelmates__text {
  width: 216px;
  margin-top: 3px;
  margin-left: 25px;
  font-size: 16px;
}

.travelmates__text--bold {
  margin-top: 4px;
  margin-bottom: 53px;

}

.travelmates__item{
  position: relative;
  margin-top: 1px;
  margin-left: 1px;

}

.travelmates__item--bg {

}

.travelmates__item--levelup {
  position: absolute;
  top: 29px;
  left: 32px;
  width: 31px;;
}

.travelmates__item--number {
  margin-top: 1px;
  margin-left: 1px;
}

.travelmates__item--level {
  margin-top: 1px;
  margin-left: 1px;
}

.travelmates__item--description {
  width: 270px;
  height: 157px;
  margin-top: -8px;
  margin-bottom: 8px;
  background-color: #ffffff;
}

.travelmates__item--countries {
 position: absolute;
 display: flex;
 justify-content: space-between;
 width: 200px;
 top: 1px;
 left: 1px;
}

.travelmates__item--name {
  color: #1d2e5b;
}

.travelmates__item--tags a {
  color: #444444;
  text-decoration: none;
}

.travelmates__icons {
  display: flex;
  position: relative;
  margin-right: 10px;
}

.travelmates__icons--plane {
  background-image: url("../img/plane.svg");
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}

.travelmates__icons--bus {
  background-image: url("../img/bus.svg");
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}

.travelmates__icons--bike {
  background-image: url("../img/bike.svg");
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}

.travelmates__icons--run {
  background-image: url("../img/run.svg");
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}
.button--show-all {
  padding-top: 1px;
  padding-left: 1px;
}

@media (min-width: $tablet-width) {
  .countries {
    width: 688px;
    padding: 0 40px;
    background-image: url("../img/flags-back@1x.png");
    background-repeat: no-repeat;
    background-position: 439px 82px;
  }
}


@media (min-width: $desktop-width) {
  .about {
    width: 1320px;
    padding: 0 60px;
    background-image: url("../img/about-desktop@1x.png");
    background-position: 750px 85px;
  }
}
