.travelmates {
  padding: 0 25px;
  margin: 0 auto;
  width: 270px;
  display: flex;
  flex-direction: column;
  background-color: #192144;
}

.travelmates__title {
 padding-top: 51px;
 padding-left: 24px;
 font-size: 24px;
}

.travelmates__text {
  width: 216px;
  margin-top: 3px;
  margin-left: 25px;
  font-size: 16px;
}

.travelmates__text--bold {
  margin-top: 4px;
  margin-bottom: 53px;
}

.travelmates__item{
  position: relative;
  margin-top: 1px;
}

.travelmates__item--levelup {
  position: absolute;
  top: 29px;
  left: 32px;
  width: 31px;
}

.travelmates__item--number {
  margin-top: 1px;
  margin-left: 1px;
}

.travelmates__item--level {
  margin-top: 1px;
  margin-left: 1px;
}

.travelmates__item--description {
  width: 270px;
  height: 157px;
  margin-top: -8px;
  margin-bottom: 8px;
  background-color: #ffffff;
}

.travelmates__item--countries {
 position: absolute;
 display: flex;
 padding-right: 18px;
 justify-content: center;
 width: 143px;
 top: -14px;
 left: 52px;
}

.travelmates__item--countrie {
  margin-left: 19px;
}

.travelmates__item--name {
  color: #1d2e5b;
  padding-top: 26px;
  text-align: center;
}

.travelmates__item--tags {
  width: 198px;
  text-align: center;
  margin-top: -7px;
  margin-left: 37px;
}

.travelmates__item--tags a {
  color: #444444;
  text-decoration: none;
}

.travelmates__icons {
  display: flex;
  position: relative;
  margin-top: 6px;
  margin-left: 15px;
}

.travelmates__icons--plane {
  background-image: url("../img/plane.svg");
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}

.travelmates__icons--bus {
  background-image: url("../img/bus.svg");
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}

.travelmates__icons--bike {
  background-image: url("../img/bike.svg");
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}

.travelmates__icons--run {
  background-image: url("../img/run.svg");
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}

.button--show-all {
  padding-top: 34px;
  padding-bottom: 48px;
  padding-left: 24px;
  text-decoration: none;
  color: #ffffff;
}

@media (min-width: $tablet-width) {
  .travelmates {
   width: 688px;
   padding: 0 40px;
 }

 .travelmates__title {
  padding-top: 117px;
  padding-left: 34px;
  font-size: 43px;
}

.travelmates__item--bg {
  width: 285px;
  height: 285px;
}

.travelmates__text {
  width: 387px;
  margin-top: 39px;
  margin-left: 36px;
  font-size: 25px;
  line-height: 31px;
}

.travelmates__text--bold {
  margin-top: 17px;
  margin-bottom: 42px;
  font-size: 22px;
  line-height: 24px;
}

.travelmates__item--levelup {
  position: absolute;
  top: 33px;
  left: 38px;
  width: 32px;
}

.travelmates__item--number {
  margin-top: 1px;
  margin-left: 1px;
}

.travelmates__item--level {
  margin-top: 1px;
  margin-left: 1px;
}

.travelmates__item--description {
  width: 285px;
  height: 198px;
  margin-top: -8px;
  margin-bottom: 8px;
  background-color: #ffffff;
}

.travelmates__item--countries {
 position: absolute;
 padding-right: 18px;
 justify-content: center;
 width: 143px;
 left: 60px;
}

.travelmates__item--countrie {
  margin-left: 19px;
}

.travelmates__item--name {
  color: #1d2e5b;
  padding-top: 31px;
  text-align: center;
  font-size: 24px;
}

.travelmates__item--tags {
  width: 255px;
  text-align: center;
  margin-top: -1px;
  margin-left: 15px;
  font-size: 20px;
}

.travelmates__item--tags a {
  color: #444444;
  text-decoration: none;
}

.travelmates__icons--width {
  width: 179px;
  margin-left: 29px;
  margin-top: 22px;
}

.travelmates__item-wrapper {
 display: flex;
 justify-content: space-around;
 margin-top: 17px;
 margin-left: 8px;
}

.button--show-all {
  padding-top: 103px;
  padding-bottom: 115px;
  padding-left: 69px;
  font-size: 23px;
  text-decoration: none;
  color: #ffffff;
}
}


@media (min-width: $desktop-width) {
  .travelmates {
    position: relative;
    width: 1320px;
    padding: 0 60px;
  }

  .travelmates__title {
   padding-top: 104px;
   padding-left: 71px;
 }

 .travelmates__text {
  margin-top: 32px;
  margin-left: 74px;
  font-size: 25px;
  line-height: 33px;
}

.travelmates__item-wrapper {
  position: absolute;
  top: 115px;
  right: 59px;
}

.button--show-all {
  padding-top: 39px;
  padding-bottom: 161px;
  padding-left: 107px;
}
.travelmates__item--space {
  margin-right: 59px;
}

}
