.user-info {
  padding: 0 25px;
  padding-bottom: 18px;
  margin: 0 auto;
  width: 270px;
  display: flex;
  flex-direction: column;
  background-color: #edeff6;
}

.user-info__levelup {
  position: absolute;
  margin-top: 20px;
  margin-left: 21px;
  width: 100px;
  height: 100px;
}

.user-info__number {
  position: absolute;
  top: 26px;
  left: 27px;
  color: #161c35;
  font-size: 38px;
  font-weight: 700;
  line-height: 38px;
}

.user-info__level {
  position: absolute;
  top: 64px;
  left: 32px;
  color: #444444;
  font-size: 18px;
  font-weight: 400;
  line-height: 22.17px;
}

.user-info__user-img {
  margin-top: 21px;
  margin-left: 153px;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.user-info__button-change {
  width: 270px;
  height: 40px;
  margin-top: 20px;
  margin-bottom: 24px;
  border-radius: 20px;
  background-color: #dfe3f0;
  color: #161c35;
  font-size: 17px;
  font-weight: 800;
  line-height: 30px;
  text-transform: uppercase;
  border: none;
}

.user-info__fieldset {
  border-radius: 9px;
  border: 1px solid #cbced9;
  margin-bottom: 16px;
}

.user-info__legend {
  text-align: center;
  padding-top: 2px;
  padding-left: 18px;
  padding-right: 18px;
  color: #1d2e5b;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
}

.user-info__tegs {
  margin-top: 6px;
  margin-left: 11px;
  margin-bottom: 11px;
}

.user-info__tegs a {
  color: #444444;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-decoration: none;
}

.user-info__position {
  margin-left: 14px;
}

.user-info__icons {
  display: flex;
  position: relative;
  margin-top: 0;
  margin-bottom: 1px;
}

.user-info__icons--plane {
  width: 33px;
  height: 33px;
  background-image: url("../img/plane-black.svg");
  background-repeat: no-repeat;
  background-size: 14px;
  background-position: 8px 8px;
  background-color: #ffffff;
  border-radius: 50%;
}

.user-info__icons--bus {
  width: 33px;
  height: 33px;
  background-image: url("../img/bus-black.svg");
  background-repeat: no-repeat;
  background-size: 13px;
  background-position: 10px 8px;
  background-color: #ffffff;
  border-radius: 50%;
}

.user-info__icons--bike {
  width: 33px;
  height: 33px;
  background-image: url("../img/bike-black.svg");
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 7px 6px;
  background-color: #ffffff;
  border-radius: 50%;
}

.user-info__icons--run {
  width: 33px;
  height: 33px;
  background-image: url("../img/run-black.svg");
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: 7px 7px;
  background-color: #ffffff;
  border-radius: 50%;
}

@media (min-width: $tablet-width) {
  .user-info {
    display: flex;
    width: 688px;
    padding: 0 40px;
    padding-bottom: 37px;
    z-index: 1;
  }

  .user-info__levelup {
    margin-top: 58px;
    margin-left: 34px;
  }

  .user-info__user-img {
    margin-top: 64px;
    margin-left: 559px;
    border-radius: 7%;
    width: 94px;
    height: 94px;
  }

  .user-info__button-change {
    width: 618px;
    height: 60px;
    margin-top: 52px;
    margin-left: 35px;
    margin-bottom: 24px;
    border-radius: 10px;
    color: #1d2e5b;
    font-family: $ff;
    font-size: 20px;
    font-weight: 600;
    line-height: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  .user-info__tegs {
    margin-top: 28px;
    margin-left: 29px;
    margin-bottom: 11px;
  }

  .user-info__tegs a {
    color: #444444;
    font-family: $ff;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
  }

  .user-info__legend {
    position: absolute;
    color: #1d2e5b;
    font-family: $ff;
    font-size: 20px;
    font-weight: 600;
    line-height: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  .user-info__legend-transport {
    bottom: -18px;
    left: 76px;
    width: 120px;
    height: 25px;
    background-color: #edeff6;
  }

  .user-info__legend-tegs {
    bottom: -19px;
    left: 264px;
    width: 50px;
    height: 25px;
    background-color: #edeff6;
  }

  .user-info__position-tegs {
    position: relative;
    margin-top: 27px;
    margin-left: 35px;
    width: 592px;
    height: 76px;
  }

  .user-info__position-transport {
    position: relative;
    margin-top: -367px;
    margin-left: 189px;
    margin-bottom: 280px;
    width: 282px;
    height: 77px;
  }

  .user-info__icons {
    margin-right: 8px;
  }

  .user-info__position {
    margin-left: 2px;
    margin-top: 19px;
  }

  .user-info__icons--plane {
    width: 43px;
    height: 43px;
    background-size: 19px;
    background-position: 10px 11px;
  }

  .user-info__icons--bus {
    width: 43px;
    height: 43px;
    background-size: 17px;
    background-position: 14px 11px;
  }

  .user-info__icons--bike {
    width: 43px;
    height: 43px;
    background-size: 24px;
    background-position: 10px 10px;
  }

  .user-info__icons--run {
    width: 43px;
    height: 43px;
    background-size: 20px;
    background-position: 12px 11px;
  }
}

@media (min-width: $desktop-width) {
  .user-info {
    position: relative;
    width: 1320px;
    padding: 0 60px;
  }

  .user-info__levelup {
    position: absolute;
    top: -210px;
    right: 385px;
    color: #ffffff;
  }

  .user-info__number {
    position: absolute;
    top: 26px;
    left: 27px;
    color: #ffffff;
  }

  .user-info__level {
    color: #ffffff;
  }

  .user-info__user-img {
    position: absolute;
    right: 95px;
    top: -270px;
    width: 190px;
    height: 190px;
    border-radius: 0;
  }

  .user-info__user-img-title {
    position: relative;
  }

  .user-info__user-img-title::after {
    content: "фото";
    position: absolute;
    right: 95px;
    top: -16px;
    width: 190px;
    height: 31px;
    padding-top: 16px;
    border-radius: 0 0 10px 10px;
    background-color: #dfe3f0;
    text-align: center;
    color: #1d2e5b;
    font-family: $ff;
    font-size: 20px;
    font-weight: 600;
    line-height: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  .user-info__position-transport {
    position: absolute;
    right: 58px;
    bottom: -215px;
    width: 358px;
    height: 76px;
  }

  .user-info__legend-transport {
    bottom: -18px;
    left: 114px;
    width: 116px;
    height: 25px;
  }

  .user-info__position-tegs {
    position: relative;
    margin-top: 41px;
    margin-left: 64px;
    margin-bottom: 65px;
    width: 704px;
    height: 76px;
  }

  .user-info__button-off {
    display: none;
  }

  .user-info__position {
    margin-left: 54px;
    margin-top: 19px;
  }

  .user-info__icons {
    margin-right: 0;
  }

  .user-info__legend-tegs {
    bottom: -19px;
    left: 19px;
  }
}
