.intro {
  width: 270px;
  margin:0 auto;
  margin-top: -8px;
  padding:0 25px;
  background-color: #161c36;
  background-image:url(../img/bg-test.png);
  background-repeat: no-repeat;
  border: 1px solid green;
}

.intro__steps{
  margin-bottom: 0;
}
